DATABASE_URL=postgresql://neondb_owner:npg_Fk3QYhUulX5b@ep-wandering-glade-atgn1bip-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require
SECRET_KEY=lkjbOBOob564bHBkbiijbiIB87bvb6546njnjnjnIBiBKJBBvc
GROQ_API_KEY=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
CHATBOT_MODEL=llama-3.3-70b-versatile
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
PROJECT_NAME=Turismo Arequipa API